@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
  margin: 0;
  padding: 0%;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

form {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 300px;
}

input {
  margin-bottom: 10px;
}

select{
  width: 193.8px;
}

button{
  margin-right: 30px;
}
